# Скопируй в .env и заполни своими данными
BASE_URL=https://secby.ru

# Учётные данные уже существующего пользователя с ролью user
USER_LOGIN=user
USER_PASSWORD=user

# Учётные данные администратора
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
